# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6
print(number)

6

##### Assinging float

In [2]:
numberFloat = 2.3
print(numberFloat)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [4]:
num1 = 2
num2 = 5.4
result = num1 + num2
print(result)

7.4

##### Subtraction

In [5]:
result_diff = num2 - num1
print(result_diff)

result_diff -=1
print(result_diff -1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [6]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [7]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [9]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [10]:
result_mod = num2 % num1
print(result_mod)

1.4000000000000004

##### Exponential

In [12]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [13]:
name = "Clayton"
print(name)

Clayton

##### print() <br>
<p>Don't forget about end=' '</p>

In [19]:
print("This is my first name: ",name)

print("Full Name: ", name, end=" Lott")

This is my first name:  Clayton
Full Name:  Clayton Lott

##### String Concatenation

In [20]:
first_name = "Clayton"
last_name = "Lott"

full_name = first_name + " " + last_name
print(full_name)

full_name += ", JR"
print(full_name)

Clayton Lott
Clayton Lott, JR

##### Type Conversion

In [21]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

32
32

##### input()

In [25]:
# Input will always return a string

# name = input('What is your name?')
# print(name)

age = int(input("What is your age?: "))
add_age = age + 5
print(add_age)

What is your age?: 2
7

##### format()

In [30]:
age = input("What is your age? ")

result_string = "You are {} {} are you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life !!!"
print(result_again)

What is your age? 2
You are 2 Clayton are you are getting wiser!
2 is a great time in life !!!

##### Old Way (python 2)

You are <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x00000202B5A0C190>> and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [5]:
color = input("What is the color of your car? ")
year = input("What is the year of your car? ")
make = input("What is the make of your car? ")
model = input("What is the model of your car? ")

result_string = "You have a {} {} {} {}! Very Nice!".format(color, year, make, model)
print(result_string)

What is the color of your car? yellow
What is the year of your car? 2011
What is the make of your car? ford
What is the model of your car? fusion
You have a yellow 2011 ford fusion! Very Nice!

### If Statements

In [8]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 1

if num2 < num1 or num3 > 0:
    print("Num2 is greater")
else:
    print("You are here")

Num2 is greater

##### 'is' keyword

In [ ]:
# The 'IS' keyword is for checking for the same object, but not the same value

num3 = 55

if num3 is 55:
    print("This is the exact number/object")

##### 'in' keyword

In [9]:
# Check if a character is in a string

char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [10]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print('a is NOT here...')

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [12]:
Ask_input = input("Type a statement ")

if "p" in Ask_input:
    print('P is here')
else:
    print('Aint not p here')

Type a statement no
Aint not p here

## Using 'and'/'or' with If Statements

In [18]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# If with 'and' statement

if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
# If with 'or' Statement

if num_11 > num_12 or num_13 == num_14:
    print('True and False')

True and True
True and False

### Elif Statements

In [19]:
first_name = input('What is your name? ')

if first_name == 'Smith':
    print('The name is Smith.')
elif first_name == "Brandon":
    print('The name is Brandon')
elif first_name != 'Max':
    print('The name is NOT Max')
else:
    print('The name is Max')

What is your name? rob
The name is NOT Max

### Else Statements

In [ ]:
# see above

### For Loops

In [22]:
# Syntax:
# for counter in condition

name = "Clayton Lott"
for letter in name:
    print(letter)
# letter in for loop can be anything you want

C
l
a
y
t
o
n

L
o
t
t

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [23]:
name = "Clayton Lott"

for i in name:
    if i =='a':
        continue
    print(i)

C
l
y
t
o
n

L
o
t
t

##### Break Statement

In [ ]:
# will break out of current loop

In [24]:
for i in name:
    if i =='a':
        break
    print(i)

C
l

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
name = "Clayton Lott"

for i in name:
    pass

##### Double For Loops

In [26]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [28]:
# Syntax:
# while keyword, condition statement

num = 0

while num < 10:
    print(num)
# This would run forever
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [30]:
game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input('Would you like to stop? ')
    if user_input == 'Yes':
        game_over = False

Infinite Loop
Would you like to stop? n
Infinite Loop
Would you like to stop? yes
Infinite Loop
Would you like to stop? yes
Infinite Loop
Would you like to stop? Yes

##### While & For Loops Used Together

In [32]:
num = 0

while num < 5:
    print('\n While loop iteration: ' + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i))
        
    num += 1

 While loop iteration: 0
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 1
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 2
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 3
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 4
For loop iteration:  0
For loop iteration:  1

### Built-In Functions

##### range()

In [1]:
#range (Start, stop, step)

for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### len()

In [2]:
# Counts letters
name = "Max"

length = len(name)
print(length)

3

##### help()

In [ ]:
# Using this function to view more info about a python function

help(range)

##### isinstance()

In [4]:
# check a variable to find out what object family (or data type) ot belongs to
# isinstance(var, type)

print(isinstance(4.5, int))

if isinstance(4.5,float):
    print("This number is a float type")

False

##### abs()

In [5]:
# |-5| = 5

print(abs(-5))

5

### Try and Except

In [8]:
# Use this to log out graceful and useful error messages
# Does not stop the program!

try:
    input_num = int(input('Guess a number '))
    print('Your number is: ' + str(input_num))
        
except:
    print("That didn't work! change your input to a number!")

Guess a number bob
That didn't work! change your input to a number!

### Lists

##### Declaring Lists

In [50]:
list_1 = []

names = ['Max', "cindy", 'Kathy', "bob", "nate"]
print(names)

['Max', 'cindy', 'Kathy', 'bob', 'nate']

##### Indexing a List

In [16]:
# list_name[start: stop: step]

# Single index
print(names[0])

# Print starting at index 1 going to the end

print(names[1:])

# print starting at the beginning of a list up until a number
print(names[:2])

# print starting at index 1 and going up BY 2 in each iteration
print(names[1::2])

# print starting at the back and display in reverse order
print(names[::-1])

Max
['cindy', 'Kathy', 'bob', 'nate']
['Max', 'cindy']
['cindy', 'bob']
['nate', 'bob', 'Kathy', 'cindy', 'Max']

##### .append()

In [51]:
names.append("clayton")
print(names)

['Max', 'cindy', 'Kathy', 'bob', 'nate', 'clayton']

##### .insert()

In [52]:
names.insert(3,"Devon")
print(names)

['Max', 'cindy', 'Kathy', 'Devon', 'bob', 'nate', 'clayton']

##### .pop()

In [49]:
# defaults to the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it to a varible

my_name = names.pop(2)
print(my_name)

IndexError: pop index out of range


##### .remove()

In [55]:
# value to be removed rather than index
# names.remove("bob")
# print(names)

# remove multiple bobs from list
while 'clayton' in names:
    names.remove('clayton')
print(names)

['Max', 'cindy', 'Kathy', 'Devon', 'nate']

##### del()

In [56]:
# does by index, rather than value
# be careful with del, can cause indexing errors if not used carefully

del(names[1])
print(names)

['Max', 'Kathy', 'Devon', 'nate']

##### Concatenating Two Lists

In [59]:
# will append two lists togetherm will NOT add the values!

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
# list can hold any type of other elements! including other lists!
# they can go as deep as you want; this is called nested lists

names = ["max", "sam", "josh", ["sally", "sue", "tameka"]]
print(names)
print(names[3][1])

##### Looping Through Lists

In [62]:
# two ways to look through a list! one is by index; the other is by using the 'in' keyword

# by index
for i in range(len(names)):
    print(names[i])
    
# loop with "in"
for i in names:
    print(i)

max
sam
josh
['sally', 'sue', 'tameka']
max
sam
josh
['sally', 'sue', 'tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [37]:
for i in range (1, 11):
    print(i, i * i * i)

1 1
2 8
3 27
4 64
5 125
6 216
7 343
8 512
9 729
10 1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [40]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for i in range(2, 101):
    if i > 1:
        for j in range(2, i):
            if (i % j) == 0:
                break
        else:
            print(i,"is a prime number")

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number
53 is a prime number
59 is a prime number
61 is a prime number
67 is a prime number
71 is a prime number
73 is a prime number
79 is a prime number
83 is a prime number
89 is a prime number
97 is a prime number

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [63]:
age = input('What is your age? ')

their_age = int(age)

if their_age < 18:
    print("Kids")
elif their_age >= 18 and their_age <= 65:
    print("Adult")
else:
    print("Senior")

What is your age? 65
Adult